[submodule "LeoEngine/vendor/spdlog"]
	path = LeoEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "LeoEngine/vendor/glfw"]
	path = LeoEngine/vendor/glfw
	url = https://github.com/TheCherno/GLFW
